body {
  padding: 1em;
  line-height: 1.2;
}
  
h1 {
  background: #E88834;
  color: #DDD393;
  font-family: 'Merienda', cursive;
  font-size: 2em;
  text-align: center;
  padding: 1em 0 1em 0;
  width: 100%;
}

h2 {
  color: #61646B;
  font-family: 'Merienda', cursive;
  font-size: 1.6em;
  /* text-align: center; */
  padding: 1em 0 1em 0;
  width: 100%;
}

main {
  background: #DDD393;
  font-family: 'Amiri', serif;
  color: grey;
  padding: 2.5em;
  font-size: 1.2em;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

li {
  margin-left: 2.5em;
}

section {
  margin: 1.5em 0 1.5em 0;
}

.nav {
  float: left;
  text-decoration: none;
  margin: 2em;
  list-style-type: none;
  overflow: hidden;
  /* width: 100%; */
  padding: 0;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

footer {
  font-family: 'Amiri', serif;
  padding: 1em 2.5em 2.5em 2.5em;
  font-size: .75em;
  text-align: center;
}
